@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* HEADER */
#header-img {
  background-color: none;
}
header {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  height: 90px;
}

.logo {
  flex: 1;
}

.logo h1 {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 38px;
}

.l {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

#db {
  color: #3897d3;
}

/* NAVIGATION */

/*Added code to style buttons and position translate element*/
#button-div {
  margin-top: 15px;
  margin-right: 25px;
  height: 50px;
}

.search {
  position: relative;
  width: 300px;
  /* adjust as per your needs */
  margin-right: 300px;
}

.search input[type="text"] {
  padding-right: 30px;
  /* adjust as per your icon size */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  /* add a border for the search box */
  border-radius: 5px;
  /* add border-radius for rounded corners */
  outline: none;
  /* remove default outline on focus */
  height: 35px;
  border-radius: 20px;
  padding-left: 7px;
}

.search .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.search .search-icon i {
  color: #aaa;
  font-size: 16px;
}

/* SIDEBAR */
/* The sidebar menu */
.sidebar {
  height: 99%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  left: 0;
  background-color: #ffffff;
  /* White*/
  overflow-y: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right-color: #106474;
  border-right-width: 10px;
}

#scrollspace {
  height: 10000px;
}

#stationTitle, #modelTitle {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  height: 1px;
}

/* Chaneg the Google Chart */

/* END OF SIDEBAR */
/* NAVIGATION */


.btn{
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  text-align: center;
  padding: 10px;
  width: 110px;
  cursor: pointer;
}

.buttons {
  display: flex;
  margin-left: auto;
  background-color: white;
  border-radius: 50px;
}

.btn:hover {
  background-color: #cbd5e1;
  color: #38bdf8;
  height: 30px;
}

.btn:active {
  font-size: 18px;
  height: 50px;
} 

#btn1.active {
  color:white;
  background-color: #3897d3;
  height: 30px;
}

#btn2.active {
  color:white;
  background-color: #3897d3;
  height: 30px;
}

#nav-functionality-container {
  display: flex;
  background-color: #fff;
}

/* DROP DOWN */

#weather-popdown {
  background-color: #fff;
  position: absolute;
  right: 18%;
  top: 11%;
  width: 250px;
  border-radius: 15px;
  border-bottom: 11px solid #FFFFFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.location {
  display: flex;
}

.location i {
  margin-top: 30px;
  margin-left: 15px;
}

.location h3 {
  margin-left: 10px;
  font-size: 20px;
  color:#3897d3;
}

.icon {
  width: 100%;
}

.icon img {
  padding-left: 70px;
}

.temperature {
  text-align: center;
}

.temperature h2 {
  font-weight: bolder;
  color:#3897d3;
}

.windandhumidity {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  background-color: #fff;
}

.windandhumidity i {
  margin-top: 30px;
}

.humidity {
  display: flex;
}

.wind {
  display: flex;
}

.windandhumidity h4 {
  font-size: 12px;
  margin-bottom: 5px;
  padding-left: 3px;
  color:#3897d3;
}

#weather-popdown:after {
  position: absolute;
  right: 2%;
  margin-left: -20px;
  top: -14px;
  width: 0;
  height: 0;
  content:'';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}


/* -------- */
#weather-info {
  /* margin-right: 5px; */
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

#weather-info:hover {
  background-color: lightblue;
}


#weather-info:active {
  font-size: 15px;
  transform: translateY(4px);
}

#additional-info {
  border-radius: 50px;
  font-size: 13px;
  background-color: white;
  color: black;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 100%;
}

#weather img {
  padding-top: 4px;
}

#weather h2 {
  margin: 0 auto;
  font-size: 13px;
} 

#wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  width: 70px;
  margin-top: 22px;
  margin-right: 5px;
}

#compass {
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
  margin-bottom: 16px;
}

#speedometer {
  margin: 0 auto;
  font-size: 13px;
}


/* .description {
  margin-top: 0px;
  padding: 0px;
}

.description h2 {
  font-size: 10px;
  top: 51px;
  right: 149px;
  position: absolute;
} */

/* Always set the map height explicitly to define the size of
the div
* element that contains the map. */

/* Translate */


#google_translate_element {
  position: fixed;
  top: 18px;
  left: 20%;
  display: none;
}

#translate_button{
  background-color: #fff;
  height:70px;
  width: 70px;
  cursor: pointer;
  border: none;
}

#translate_button img {
  width: 35px;
  height: 35px;
  border: none;
}

/* Dark Mode */

#dark-mode-button{
  height: 100%;
  width: 65px;
  cursor: pointer;
  background-color: #fff;
  border: none;
}


#map {
    height: 665px;
    width: 100%;
  }


#pac-input {
  padding-right: 10px; /* adjust as per your icon size */
  box-sizing: border-box;
  height: 45px;
  width: 325px;
  border-radius: 35px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
  position: relative;
}

#pac-input:hover {
  border: 2px solid #cbd5e1;
  cursor: pointer;
}

#pac-input:focus {
  border-color: black;
}

#search-icon {
  position: absolute;
  left: 0;
}

#nearest-btn {
  margin: 0 auto;
  border-radius: 40px;
  background-color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: transform 0.1s ease-in-out;
}


#nearest-btn:hover {
  background-color: #cbd5e1;
  color: #38bdf8;
}

/* INFO WINDOW */

button.gm-ui-hover-effect {
  visibility: hidden;
}

.station-data {
  display: flex;
  justify-content: space-around;
}

.available-bikes {
  display: flex;
}

.available-bikes h2 i {
  color: #00a4d3;
}

.available-bikes p {
  padding-left: 5px;
}

.parked {
  display: flex;
}

.parked h2 i {
  color: #00a4d3;
}

.parked p {
  padding-left: 5px;
}


#get-directions.active {
  border-bottom: 2px solid #3897d3;
}

#find-stations.active {
  border-bottom: 2px solid #3897d3;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 1100px;
}

.search {
  display: flex;
  border: 2px solid ghostwhite;
  padding: 0;
  height: 50px;
  border-radius: 15px;
  width: 700px;
  margin-right: 50px;
}

.search i {
  margin-top: 14px;
}

.search:hover {
  border: 2px solid#cbd5e1;;
}

#go {
  border: none;
  background-color: lightblue;
  height: 50px;
  width: 50px;
  color: #18181b;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  transition: background-color .1s ease-in, transform .1s ease-in;
}
  
#go:hover {
  background-color: #cbd5e1;
  color: #38bdf8;
  transform: scale(1.05);
}

#go:active {
  transform: scale(0.95);
}

#start-input, #end-input {
  font-family: "Roboto", "sans-serif";
  height: 50px;
  width: 350px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}

.result-box {
  max-height: 250px; 
  overflow-y: auto;   
}

#result-box1 ul, #result-box2 ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

#result-box1 ul li, #result-box2 ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

#result-box1 ul li:hover, #result-box2 ul li:hover {
  background: #e9f3ff;
}

#result-box1, #result-box2 {
  background-color: white;
}


#dropdown {
  background-color: #fff;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  background-color: #fff;
}

#dropdown-container {
  text-align: center;
  line-height: 30px;
  width: 400px;
  padding-right: 40px;
  border-left: 2px solid lightblue;
}

#option {
  border: 2px solid ghostwhite;
  padding: 0;
  height: 55px;
  width: 300px;
  border-radius: 15px;
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  color: #333;
  font-weight: 200;
  background: transparent;
}

#option:hover {
  border: 2px solid#cbd5e1;
  cursor: pointer;
}

/* Changes bar chart for predictive model */
.predictionbar {
  background-color:red;
  margin: 3px;
  width: 15px;
  float: left;
  border-radius: 2px;
}

/*End of added code*/

/*styling the location button */
.custom-map-control-button {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
  width: 32px;
  height: 32px;
  padding: 0;
}

.custom-map-control-button:hover {
  background-color: #ebebeb;
  border-color: #adadad;
}

.custom-map-control-button:focus {
  border-color: #3897d3;
}

.custom-map-control-button > i {
  color: #737373;
  font-size: 18px;
  line-height: 32px;
}

#location-buttons{
  border-radius: 35px;
  margin-right: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 190px;
}



#nearest-bike {
  display: flex;
  top: 20px;
  background-color: #3897d3;
  border-radius: 35px;
  height:50px;
  width:90px;
  border-width: 0px;
  color:white;
  cursor: pointer;
  background-color: lightblue;
  color: #18181b;
  transition: transform 0.1s ease-in-out;
}



#nearest-bike:hover {
  color: white;
}

#nearest-bike:active {
  font-size: 10px;
  transform: translateY(4px);
}

#nearest-bike .nearest-bike-div {
  display: flex;
  padding-top: 7px;
  padding-left: 10px;
}

.nearest-bike-div i {
  margin-top: 18px;
  margin-right: 8px;
}

.nearest-bike-div a {
  margin-top: 7px;
}

#nb-logo {
  padding-top: 10px;
}

#nearest-stand{
  display: flex;
  top: 20px;
  border-radius: 35px;
  height:50px;
  width:90px;
  border-width: 0px;
  color:white;
  cursor: pointer;
  background-color: lightblue;
  color: #18181b;
  transition: transform 0.1s ease-in-out;
}

#nearest-stand:hover {

  color: white;
}

#nearest-stand:active {
  font-size: 10px;
  transform: translateY(4px);
}

#nearest-stand .nearest-stand-div {
  display: flex;
  padding-top: 7px;
  padding-left: 15px;
}

.nearest-stand-div i {
  margin-top: 17px;
  margin-right: 7px;
}

.nearest-stand-div a {
  margin-top: 7px;
}


/*COPY FOR CLEAR SWAP BUTTONS*/
#location-buttons1{
  border-radius: 35px;
  margin-right: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-bottom: 20px;
}



#nearest-bike1 {
  display: flex;
  top: 20px;
  background-color: #3897d3;
  border-radius: 35px;
  height:50px;
  width:90px;
  border-width: 0px;
  color:white;
  cursor: pointer;
  background-color: white;
  color: #18181b;
  transition: transform 0.1s ease-in-out;
  border-left: 10px;
}



#nearest-bike1:hover {
  background-color: #3897d3;
  color: white;
}

#nearest-bike1:active {
  font-size: 10px;
  transform: translateY(4px);
}

#nearest-bike1 .nearest-bike-div1 {
  display: flex;
  padding-top: 7px;
  padding-left: 10px;
}

.nearest-bike-div1 i {
  margin-top: 15px;
  margin-right: 0px;
}

.nearest-bike-div1 a {
  margin-top: 7px;
}



#nearest-stand1{
  display: flex;
  top: 20px;
  border-radius: 35px;
  height:50px;
  width:90px;
  border-width: 0px;
  color:white;
  cursor: pointer;
  background-color: white;
  color: #18181b;
  transition: transform 0.1s ease-in-out;
}

#nearest-stand1:hover {
  background-color: #3897d3;
  color: white;
}

#nearest-stand1:active {
  font-size: 10px;
  transform: translateY(4px);
}

#nearest-stand1 .nearest-stand-div1 {
  display: flex;
  padding-top: 7px;
  padding-left: 15px;
}

.nearest-stand-div1 i {
  margin-top: 17px;
  margin-right: 7px;
}

.nearest-stand-div1 a {
  margin-top: 7px;
}

/*END OF COPY*/

/* Nearest Bike/Parking from Search*/

#search-nearest-bike{
  top: 20px;
  background-color: #3897d3;
  border-radius: 35px;
  height:50px;
  width:70px;
  border-width: 0px;
  color:white;
  cursor: pointer;
}

#search-nearest-stand{
  top: 20px;
  background-color: #3897d3;
  border-radius: 35px;
  height:50px;
  width:70px;
  border-width: 0px;
  color:white;
  cursor: pointer;
}

#search-nearest-btns{
  background-color: white;
  border-radius: 35px;
  margin-left: 25px;
  margin-top: 10px;
}




#locationButton{
  margin-right: 15px;
}

 #weather-popdown{
  display:none;
  z-index: 1;
} 

