/* HEADER */
header {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  /*height: 74px;*/
  height: 80px;
  background-color: ghostwhite;
}

.logo {
  flex: 1;
}

.logo h1 {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.l {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

#db {
  color: #00a4d3;
}

.search {
  position: relative;
  width: 300px; /* adjust as per your needs */
  margin-right: 300px;
}

.search input[type="text"] {
  padding-right: 30px; /* adjust as per your icon size */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc; /* add a border for the search box */
  border-radius: 5px; /* add border-radius for rounded corners */
  outline: none; /* remove default outline on focus */
  height: 35px;
  border-radius: 20px;
  padding-left: 7px;
}

.search .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.search .search-icon i {
  color: #aaa;
  font-size: 16px;
}


/* NAVIGATION */

/*Added code to style buttons and position translate element*/
.btn{
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  text-align: center;
  padding: 10px;
  height: 50px;
  cursor: pointer;
}

.buttons {
  display: flex;
  order: 2;
  margin-left: auto;
}

#btn1{
  background-color: white;
}

#btn2{
  background-color: white;
}

#weather {
  display: flex;
  order: 3;
  margin-left: 20px;
}

/* Always set the map height explicitly to define the size of
the div
* element that contains the map. */
#map {
    height: 665px;
    width: 100%;
  }

  .info-window p {
    font-size: 15px;
  }

#warnings-panel {
  width: 100%;
  height: 10%;
  text-align: center;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
}

#dropdown {
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
/* Changes bar chart for predictive model */
.predictionbar {
  background-color:red;
  margin: 3px;
  width: 15px;
  float: left;
  border-radius: 2px;
}

#google_translate_element {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/*End of added code*/
