<html>
  <head>
    <title>Dublin Bikes</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel = "icon" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnlkb-CEy6bhOsWRtUOASzFfh5K2z-HL6JDA&usqp=CAU" type = "image/x-icon"> 
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
   
  </head>
  <body id = "body">
    <!--Header-->
    <header id="header">
        <button id = "translate_button"><i class="fa-solid fa-language"></i></button>
        <div id="google_translate_element"></div>
        <div>
          <label class="switch">
            <input id = "slider" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="logo">
            <h1><a class="l" href="http://127.0.0.1:5000/"><span id="db">DB</span>ikes</a></h1>
        </div>
        <div id="weather-info"></div>
    </header>
    <!--Map-->
    <div id="map">
    </div>
    <div id = "location-buttons">
      <button id ="nearest-bike"><i class="fa-solid fa-bicycle"></i></button>
      <button id ="nearest-stand"><i class="fa-solid fa-square-parking"></i></button>
    </div>

    <div id="Model">
      <label id="modelTitle" for="availabletime">Check Station Availability:</label>
      <form>
        <input type="datetime-local" id="availabletime" name="availabletime">
        <input type="submit">
      </form>
    </div>
    <div id="displayPrediction"></div>
  </div>

  <!-- Putting map in div so it can be moved by the sidebar-->
  <div id="main">
    <div id="map"></div>
  </div>

  <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises
      with https://www.npmjs.com/package/@googlemaps/js-api-loader.
      -->
    <div id="select-service">
      <div id ="select-service-container">
        <div id = "get-directions" class = "get-directions active">
          <h2>Get Directions</h2>
        </div>
        <div id = "find-stations">
          <h2>Find Stations</h2>
        </div>
      </div>
    </div>
    <div class="directions">
      <div></div>
    </div>
    <div id="directions">
      <div id="search-station-conatiner">
        <div class="search">
        <button id="go">Go</button>
        <div>
            <i id="pin" class="fa-solid fa-map-pin" style="color: #00A4D3;"></i>
            <input type="text" id="start-input" placeholder="Type to search for start destination">
            <div id="result-box1" class="result-box"></div>
            <div id="test1"></div>
        </div>
        <div>
            <i id="dest_marker" class="fa-solid fa-location-dot" style="color: #00A4D3;"></i>
            <input type="text" id="end-input" placeholder="Type to search for end destination">
            <div id="result-box2" class="result-box"></div>
            <div id="test1"></div>
        </div>
        </div>
    </div>
    </div>
    <div id="dropdown">
      <div id="dropdown-container">
        <select id="option">
          <option value="Smithfield North" selected>Find Station</option>
        </select>
      </div>
    </div>
    <!--Code for swapping nums on station pins-->
    <div id ="button-div" class="buttons">
      <div id = "btn1" class = "btn active">
        <i class="fa-solid fa-bicycle"></i>
        <a class="button-text" >Available<br>Bikes</a>
      </div>
      <div id = "btn2" class = "btn">
        <i class="fa-solid fa-square-parking"></i>
        <a class="button-text">Available<br>Stands</a>
      </div>
    </div>
    </div>
    <!--End of swapping nums code-->
    <input id="pac-input"class="search"type="text"placeholder=" Search">
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgYC8VXvS4UG9ApSUhS2v-ByddtHljFls&libraries=places&callback=initMap&v=weekly"
      defer
    ></script>
     <!--  --> 
     <script type="text/javascript">  
      function googleTranslateElementInit() {  
          new google.translate.TranslateElement(  
              {pageLanguage: 'en',},  
              'google_translate_element'  
          );  
      }  
  </script>  

<!-- Script code for google translator API -->  
  <script type="text/javascript"   
  src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">  
  </script> 
  <script>
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>
  </body>
</html> 