<html>
  <head>
    <title>Dublin Bikes</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel = "icon" href = 
"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnlkb-CEy6bhOsWRtUOASzFfh5K2z-HL6JDA&usqp=CAU" 
        type = "image/x-icon">
        
    
    <!--
      *UNCOMMENT THIS IS YOU ARE WORKING ON THE DESIGNING FRONTEND AND DEVELOP WITH LIVE SERVER
      EASIER THAN DOING IT THROUGH FLASK*
    
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/index.js" />
    -->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
   
  </head>
  <body id = "body">
    <!--Header-->
    <header id="header">
        <button id = "translate_button"><i class="fa-solid fa-language"></i></button>
        <div id="google_translate_element"></div>
    <!--  --> 
    <script type="text/javascript">  
        function googleTranslateElementInit() {  
            new google.translate.TranslateElement(  
                {pageLanguage: 'en',},  
                'google_translate_element'  
            );  
        }  
    </script>  
  
<!-- Script code for google translator API -->  
    <script type="text/javascript"   
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">  
    </script>  
        <div>
          <label class="switch">
            <input id = "slider" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="logo">
            <h1><a class="l" href="http://127.0.0.1:5000/"><span id="db">DB</span>ikes</a></h1>
        </div>
        <div id="weather"></div>
        <div id = "compass-div">
          <i id = "compass" class="fa-solid fa-location-arrow"></i>
          <a id = "speedometer">empty</a>
        </div>
    </header>
    <!--Map-->
    <div id="map"></div>
    <div class="search">
      <input id="pac-input"class="search"type="text"placeholder=" Search">
      <span class="search-icon"><i class="fa fa-search" id="search-icon"></i></span>
    </div>
    <div id = "location-buttons">
      <button id ="nearest-btn"><i class="fa-sharp fa-solid fa-map-location-dot fa-xl"></i></button>
    </div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises
      with https://www.npmjs.com/package/@googlemaps/js-api-loader.
      -->

    <div id="dropdown">
      <button id="go">Go</button>
      <i id = "pin" class="fa-solid fa-map-pin" style="color: #00A4D3;"></i>
      <select id="start">
        <option value="" selected>Origin</option>
      </select>
      <i id = "dest_marker" class="fa-solid fa-location-dot" style="color: #00A4D3;"></i>
      <select id="end">
        <option value="" selected>Destination</option>
      </select>
    </div>
    <!--Code for swapping nums on station pins-->
    <div id ="button-div" class="buttons">
      <div id = "btn1" class = "btn active">
        <i class="fa-solid fa-bicycle"></i>
        <a class="button-text" >Available<br>Bikes</a>
      </div>
      <div id = "btn2" class = "btn">
        <i class="fa-solid fa-square-parking"></i>
        <a class="button-text">Available<br>Stands</a>
      </div>
    </div>
    <!--End of swapping nums code-->
    <div id="warnings-panel"></div>  
    
    
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgYC8VXvS4UG9ApSUhS2v-ByddtHljFls&libraries=places&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html> 